absl-py==0.2.2
alabaster==0.7.10
altgraph==0.16.1
anaconda-client==1.6.3
anaconda-navigator==1.6.2
anaconda-project==0.6.0
appdirs==1.4.3
appnope==0.1.0
appscript==1.0.1
argcomplete==1.8.2
arrow==0.12.1
asn1crypto==0.22.0
astor==0.7.1
astroid==1.4.9
astropy==1.3.2
attrs==18.2.0
autopep8==1.4.3
Babel==2.4.0
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
binaryornot==0.4.4
bitarray==0.8.1
blaze==0.10.1
bleach==1.5.0
bokeh==0.12.5
boto==2.46.1
boto3==1.8.2
botocore==1.11.2
Bottleneck==1.2.1
briefcase==0.2.4
bz2file==0.98
certifi==2019.3.9
cffi==1.10.0
chardet==3.0.4
click==6.7
cloudpickle==0.2.2
clyent==1.2.2
colorama==0.3.9
conda==4.6.14
configobj==5.0.6
contextlib2==0.5.5
cookiecutter==1.6.0
cryptography==2.7
cycler==0.10.0
cymem==2.0.2
Cython==0.25.2
cytoolz==0.9.0.1
dask==0.14.3
datashape==0.5.4
decorator==4.0.11
dill==0.2.8.2
distributed==1.16.3
Django==2.0
docutils==0.13.1
docx2txt==0.6
EbookLib==0.15
en-core-web-sm==2.0.0
entrypoints==0.2.2
et-xmlfile==1.0.1
ExifRead==2.1.2
fastcache==1.0.2
Flask==0.12.2
Flask-Cors==3.0.2
fpdf==1.7.2
funcy==1.11
future==0.16.0
gast==0.2.0
gensim==3.4.0
gevent==1.2.1
graphviz==0.8.3
greenlet==0.4.12
grpcio==1.13.0
h5py==2.7.0
HeapDict==1.0.0
html5lib==0.999
htrc-feature-reader==1.99
idna==2.5
imageio==2.4.1
imagesize==0.7.1
ipykernel==4.6.1
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
isort==4.2.5
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
Jinja2==2.9.6
jinja2-time==0.2.0
jmespath==0.9.3
joblib==0.13.0
json-tricks==3.12.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.0
jupyter-core==4.3.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.4
jupyter-nbextensions-configurator==0.4.0
jupyterlab==0.35.6
jupyterlab-server==0.2.0
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
lazy-object-proxy==1.2.2
llvmlite==0.18.0
locket==0.2.0
lxml==3.8.0
macholib==1.11
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==2.0.2
mccabe==0.6.1
mistune==0.7.4
mkl-fft==1.0.10
mkl-random==1.0.2
mock==2.0.0
modulegraph==0.17
moviepy==0.2.3.5
mpmath==0.19
msgpack==0.5.6
msgpack-numpy==0.4.3.1
msgpack-python==0.5.6
multipledispatch==0.4.9
murmurhash==0.28.0
navigator-updater==0.1.0
nbconvert==5.1.1
nbformat==4.3.0
networkx==1.11
nltk==3.2.3
nominatim==0.1
nose==1.3.7
notebook==5.0.0
numba==0.33.0
numexpr==2.6.2
numpy==1.15.4
numpydoc==0.6.0
oauthlib==2.1.0
odo==0.5.0
olefile==0.44
opencv-python==3.4.3.18
openpyxl==2.4.7
packaging==16.8
pandas==0.20.1
pandocfilters==1.4.1
partd==0.3.8
pathlib-mate==0.0.15
pathlib2==2.2.1
patsy==0.4.1
pbr==4.2.0
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
plac==0.9.6
ply==3.10
pocketsphinx==0.1.15
poyo==0.4.1
praw==3.6.1
preshed==2.0.1
prompt-toolkit==2.0.7
protobuf==3.6.0
psutil==5.2.2
PsychoPy==1.90.3
ptyprocess==0.5.1
py==1.4.33
py2app==0.18
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.17
pycrypto==2.6.1
pycurl==7.43.0.2
pyflakes==1.5.0
pygame==1.9.6
pyglet==1.3.2
Pygments==2.2.0
PyHyphen==3.0.1
pyLDAvis==2.1.2
pylint==1.6.4
pymarc==3.1.13
pyobjc-core==5.1.1
pyobjc-framework-Cocoa==5.1.1
pyobjc-framework-Quartz==5.1.1
pyodbc==4.0.16
PyOpenGL==3.1.0
pyOpenSSL==17.0.0
pyosf==1.0.5
pyparallel==0.2.2
pyparsing==2.1.4
PyPDF2==1.26.0
Pypubsub==4.0.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyserial==3.4
PySocks==1.6.8
pytest==3.0.7
python-bidi==0.4.0
python-dateutil==2.6.0
python-pptx==0.6.5
pytrends==4.4.0
pytz==2017.2
PyWavelets==0.5.2
PyXB==1.2.6
PyYAML==3.12
pyzmq==16.0.2
QtAwesome==0.4.4
qtconsole==4.3.0
QtPy==1.2.1
regex==2018.1.10
requests==2.22.0
requests-oauthlib==1.0.0
rope-py3k==0.9.4.post1
s3transfer==0.1.13
scikit-image==0.13.0
scikit-learn==0.18.1
scipy==1.1.0
seaborn==0.7.1
selenium==3.11.0
showast==0.2.4
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
smart-open==1.6.0
snowballstemmer==1.2.1
sortedcollections==0.5.3
sortedcontainers==1.5.7
sounddevice==0.3.12
SoundFile==0.10.2
spacy==2.0.18
SpeechRecognition==3.6.3
Sphinx==1.5.6
spyder==3.1.4
SQLAlchemy==1.1.9
statsmodels==0.8.0
sympy==1.0
tables==3.3.0
tblib==1.3.2
tensorboard==1.9.0
tensorflow==2.5.1
termcolor==1.1.0
terminado==0.6
testpath==0.3
textatistic==0.0.1
textblob==0.13.0
textgenrnn==1.3.1
thinc==6.12.1
toolz==0.8.2
tornado==4.5.1
tqdm==4.25.0
traitlets==4.3.2
tweepy==3.6.0
ujson==1.35
unicodecsv==0.14.1
update-checker==0.16
urllib3==1.22
uszipcode==0.2.2
voc==0.1.5
Wand==0.4.4
wcwidth==0.1.7
Werkzeug==0.12.2
whichcraft==0.4.1
widgetsnbextension==2.0.0
wordcloud==1.3.1
wrapt==1.10.10
wxPython==4.0.3
xlrd==1.0.0
XlsxWriter==0.9.6
xlwings==0.10.4
xlwt==1.2.0
zict==0.1.2
zmq==0.0.0
